<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyWebApp</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'index' %}">Home</a></li>
      {% if not user.is_authenticated %}
          <li><a href="{% url 'users:register' %}">Register</a></li>
          <li><a href="{% url 'users:login' %}">Login</a></li>
      {% else %}
        <li><a href="{% url 'users:user_list' %}">UsersList</a></li>
        <li><a href="{% url 'users:update_profile' pk=user.id %}">Update Profile</a></li>
        <li><a href="{% url 'users:logout' %}">Logout</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
</header>
{% block content %}
{% endblock %}
</body>
</html>